header {
  h1,
  h2,
  p {
    text-align: center;
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  img {
    margin-inline: auto;
    display: block;
    height: max(20svh, 12rem);
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
}
