footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

  h4 {
    margin-bottom: 1rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      max-height: 1rem;
      aspect-ratio: 1;
    }
  }
}
