section#skills {
  margin-top: 2rem;
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* dos columnas iguales */
    gap: 1rem 2rem;

    li {
      min-height: 3rem;
      padding: 0.25rem;
      border-radius: 16px;
      border: 1px solid var(--primary);

      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: column; */
      gap: 0.5rem;

      transition: background-color 100ms;

      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }
}
