.header-nav {
  width: 100svw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem min(2rem, 2vw);
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 1;
  box-shadow: 0 0 1rem var(--primary);

  margin-bottom: 2rem;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  button.theme-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
}
