/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(var(--primary-color));
  --background: rgb(var(--background-color));
  --primary-color: 14, 14, 14;
  --background-color: 254, 254, 254;

  --primary-hover: rgba(var(--primary-color), 0.1);
  background-color: var(--background);
  color: var(--primary);
  *,
  *::before,
  *::after {
    fill: var(--primary) !important;
    color: var(--primary) !important;
  }
}
